<div id="header">
    <div id="my-name">
        <!-- <img src="{{ asset('images/SevCoy.svg') }}" alt="Séverine Coyer"> -->
        <h1>Séverine Coyer</h1>
    </div>

    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">SC</a>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav justify-content-between">
                <li class="nav-item  {% if app.request.get('_route')=='index' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('index')}}">Accueil <span class="sr-only">Home</span></a>
                </li>
                <li class="nav-item {% if app.request.get('_route')=='formations' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('formations')}}">Formations</a>
                </li>
                <li class="nav-item {% if app.request.get('_route')=='savoir_faire' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('savoir_faire')}}">Compétences</a>
                </li>
                <li class="nav-item {% if app.request.get('_route')=='print-web' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('print-web')}}">Print/Web</a>
                </li>
                <li class="nav-item {% if app.request.get('_route')=='autres-experiences' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('autres-experiences')}}">Autres expériences</a>
                </li>
                <li class="nav-item {% if app.request.get('_route')=='portfolio' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('portfolio')}}">Portfolio</a>
                </li>
                <li class="nav-item {% if app.request.get('_route')=='email' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('email')}}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
