{# templates/main/portfolio.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}
<!-- Modal -->
<!-- Large modal -->

{{ include('modales/agenda.html.twig') }}
{{ include('modales/stickers.html.twig') }}
{{ include('modales/vannerie.html.twig') }}
{{ include('modales/replay.html.twig') }}



<!-- Container -->
<div class="container">
<div class="title">
  <h2>portfolio</h2>
</div>
  <div class="row card-deck">
    <!--<div class="col-12 col-md-8 text"> -->

    <!-- Card -->
        <div class="col-md-5 card">
  <img class="card-img-top" src="images/agenda.png" alt="Agenda">
  <div class="card-body">
    <h3 class="card-title">Agenda mjc</h3>
    <p class="card-text">Application de fin d'étude Symfony/Réact</p>

  </div>
  <button type="button" class="btn btn-primary btn-card" data-toggle="modal" data-target=".bd-example-modal-lg">Plus d'infos</button>
 </div>

 <!-- Card -->
     <div class="col-md-5 card">
<img class="card-img-top" src="images/stickers/publishop2013.png" alt="Agenda">
<div class="card-body">
 <h3 class="card-title">Module PHP</h3>
 <p class="card-text">Achat stickers personnalisés en ligne</p>
</div>
<button type="button" class="btn btn-primary btn-card" data-toggle="modal" data-target=".sticker">Plus d'infos</button>
</div>

<!-- Card -->
    <div class="col-md-5 card">
<img class="card-img-top" src="images/vannerie.png" alt="la vannerie d'aujourd'hui">
<div class="card-body">
<h3 class="card-title">Site prestashop</h3>
<p class="card-text">Installation et imports en masse de produits via csv</p>
</div>
<button type="button" class="btn btn-primary btn-card" data-toggle="modal" data-target=".vannerie">Plus d'infos</button>
</div>

<!-- Card -->
    <div class="col-md-5 card">
<img class="card-img-top" src="images/replay/articles.png" alt="Agenda">
<div class="card-body">
<h3 class="card-title">Site PHP</h3>
<p class="card-text">Replay, site pour une association</p>
</div>
<button type="button" class="btn btn-primary btn-card" data-toggle="modal" data-target=".replay">Plus d'infos</button>
</div>

    <!--<p>
      Conception d'une application en php, avec base de donnée relationnelle. Programmation orientée objet avec Symfony.
      Connaissance de Prestashop et de wordPress.
    </p>
    <p>
        Connaissance de la chaîne graphique, relecture, corrections clients.
        Bonne capacité à travailler dans le stress, avec des délais.
      Mise en page avec InDesign, gestion des feuilles de style imbriquées et automatisation avec GREP.
      Vous pouvez voir quelques unes de mes mises en page <a href="http://www.freifrei.fr">ici</a>.
      Gestion des pdf pour print ou web. Photoshop : retouches photos, détourage, optimisation.
      Tracés illustrator.
    </p>
    <p>
       Mise à jour de bases de données, scripts out
    </p>
    </div> -->

    <!-- <div class="col-12 col-md-4 image">
     <img src="{{ asset('images/competences.svg') }}" alt="competences">
    </div>
  </div> -->
</div>



{% endblock %}
